@font-face {
    font-family: Azonix;
    src: url(../my-website/fonts/Azonix.otf);
}
@font-face {
    font-family: Akira;
    src: url(../my-website/fonts/Akira\ Expanded\ Demo.otf);
}
@font-face {
    font-family: Nature;
    src: url(../my-website/fonts/Realistic\ Nature.otf);
}
@font-face {
    font-family: Butler;
    src: url(../my-website/fonts/Butler-Free-Bd.otf);
}
header{
    display: flex;
    align-items: center;
    background-color: #000033;
    margin-left: -100px;
    margin-top: -40px;
    padding-left: 100px;
    padding-top: 0px;
    width: 100%;
    border-bottom: 1px solid blanchedalmond;
}
#name{
    font-family: Azonix;
    color: #41EAD4;
    font-size: 300%;
}
#mail{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-top: 0px;
}
#githublogo{
    width: 40px;
    height: 40px;
}
#linkedinlogo{
    width: 40px;
    height: 40px;
}
#social{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: baseline;
    gap: 20px;
}
*{
    text-decoration: none;
}
div{
    margin-top: 20px;
    container: 100%;
}
.kbira{
    margin-top: 0px;
}
body{
    padding-left: 100px;
    padding-top: 20px;
    background-color: #000033;
    margin: 0;
}
#skills{
    padding: 5px;
}
#cswa{
    margin: 5px;
}
#me{
    width: 90px;
    height: 90px;
}
#name-image{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 25px;
}
.titles{
    font-family: Akira;
    color: #8D8D92;
    font-size: x-large;
    padding: 40px;
    width: 0px;
    height: 0px;
    font-size: 150%;
}
h5{
    color: #5D5E60;
}
#sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 50px;
    margin-left: 150px;
}
.titles:hover{
    background-color: #000033;
    color: #5D5E60;
    transition: background-color 0.3s;
}
nav a{
    color: white;
}
p{
    font-family: Nature;
    font-size: 150%;
    color: whitesmoke;
}
footer{
    display: flex;
    align-items: baseline;
    gap: 20px;
    background-color: #0404c0;
    margin-left: -100px;
    border-top: 1px solid blanchedalmond;
}
#gmaillogo{
    width: 40px;
    height: 40px;   
}
h3{
    font-family: Butler;
    font-size: 150%;
    color: whitesmoke;
}
#pcstand{
    width: 247px;
    height: 350px;
}
#stand{
    display: flex;
    align-items: center;
    gap: 200px;
}
#hackpad{
    width: 400px;
    height: 400px;
}
#macropad{
    display: flex;
    align-items: center;
    gap: 150px;
}
#derby{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-bottom: 75px;
}
#derbycar{
    width: 300px;
    height: 350px;
}
#derbycar2{
    width: 400px;
    height: 250px;
}
#socialnetwork{
    color: #8D8D92;
    padding-left: 75px;
    font-family: Akira;
    padding-right: 100px;
}
img{
    border-radius: 5%;
}
.small{
    transition: 0.4s ease-in-out;
}
.small:hover{
    transform: scale(1.1);
}
.big{
    transition: 0.4s ease-in-out;
}
.big:hover{
    transform: scale(1.05);
}
#mailpart{
    color: black;
}
#certif{
    width: 250px;
    height: 177px;
}
#certif2{
    display: flex;
    justify-content: center;
}
#mohsen{
    display: flex;
    align-items: center;
    gap: 250px;
}
html{
    scroll-behavior: smooth;
}